<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/places/offers"></ion-back-button>
      </ion-buttons>
      <ion-title>Offer Booking</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div text-center *ngIf="isLoading">
      <ion-spinner color="primary"></ion-spinner>
    </div>
    <ion-card *ngIf="!isLoading && place">
      <img [src]="place.url" style="max-height: 380px;"/>
      <ion-card-header>
        <ion-card-title>{{place.title}} <ion-text float-right>{{place.price| currency}}</ion-text></ion-card-title>
        
      </ion-card-header>
      <ion-card-content text-center>
        <p>
          {{place.description}}
        </p>
        <ion-button (click)="onEdit()">Edit</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
